@model IEnumerable<Learn_Programming_Malayalam.Areas.Admin.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>                
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.CreatedAt)</a>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Select((value, i) => new { i , value }))
{ 
        <tr>
            <td>
                @(item.i  + 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.value.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.value.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.value.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
